body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}


.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
 }
/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
  padding-left: 10px;
  color:black;

  background-color:#cccccc;
}
#cont1
{
	margin-left:0;
	margin-right:0;
	padding-left:0;
	width:100%;
}


.navbar-brand {
	text-align:left;
	padding-left: 0;
  padding-top: 5px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list
{
	background-color:#ccddcc;

	margin: 0 0 0 0;
	padding-left:0;
	padding-right:0;

	border: 0;
}

#head
{
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 25px;
}
#mainrow
{
	background: #cccccc;
	height:1200px;
	
}
#main-content
{
	padding: 5px 10px 5px 10px;
	margin: 5px 15px 5px 15px;
}
#head2
{
	font-size: 1.1em;
	font-weight: bold;
	
}
#brand
{
	color:black;
	padding-left:20px;
}

@media (max-width: 767px) {
#mainrow
{
	height:100%;
}

li.visible-xs {
  
   border-top: 1px solid black;
}
li:last-child
{
	border-bottom: 1px solid black;
}
#main-content
{
	padding: 5px 30px 5px 30px;
	
}
.nav-collapse .nav > li.divider {
   *width: 100%;
   height: 1px;
   margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #black;
  }
 
}

@media (min-width: 768px) and (max-width: 991px) {
	#mainrow
{
	height:100%;
}

}
